@font-face {
  font-family: "Arial";
  src: local('Arial'), url("assets/fonts/Arial/Arial.woff2?1494397554") format("woff2"),
  url('assets/fonts/Arial/Arial.woff?1494397554') format('woff'),
  url('assets/fonts/Arial/Arial.eot?1494397554') format('embedded-opentype'),
  url('assets/fonts/Arial/Arial.ttf?1494397554') format('truetype'),
  url('assets/fonts/Arial/Arial.svg?1494397554') format('svg');

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}